# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: 31/05/2026 1:07 AM
i2np.lastIP=121.98.194.115
i2np.lastIPChange=1780189776997
i2np.ntcp2.iv=7yC9AoJU17iFGXTZkmb~Mw==
i2np.ntcp2.sp=2pqehnFYFgiJkvcsE7IYm4~ZStGEo3A6KqCaDP0YUso=
i2np.ssu2.ikey=P4xCbkh3pzyVjXQHjJYS68E~59MXOI3hCOh3HB4HqUw=
i2np.ssu2.sp=V~ew1OrBJx3CuZQCKxFFM8bbjTM9cyvTJsM8d0pXIxo=
i2np.udp.internalPort=20416
i2np.udp.port=20416
router.firstInstalled=1780162855407
router.firstVersion=2.12.0
router.inboundPool.randomKey=RGEZuU2L0DNtpDjyMo9v~pkwNKWoVcN9f2C6auZlvJY=
router.outboundPool.randomKey=RgEzOhy4m20OEzJMPTPEOcjLYF5hI3ac3G148j9AeJU=
router.previousVersion=2.12.0
router.updateLastInstalled=1780162855407
