# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: 31/05/2026 6:34 AM
router.firstInstalled=1780209263902
router.firstVersion=2.12.0
router.inboundPool.randomKey=jmKgD5p7SAH0TcscvOtgvuJaEl2nN3xmT6q0jq~JuSE=
router.outboundPool.randomKey=1X-f8tEScM0E7R8rxeXPa9H1vgLsJrvhqpnf9hWklhY=
router.previousVersion=2.12.0
router.updateLastInstalled=1780209263902
